.cl {
    clear: both;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    padding: 30px 0 0 0;
}

#wrap {
    width: 1000px;
    margin: 0 auto 30px auto;
    background-color: #ffffff;
    outline: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    padding: 0 30px;
}

#wrap #head {
    height: auto;
    margin-bottom: 30px;
}

#wrap #head h2 {
    display: inline-block;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #515151;
}

#wrap #head p {
    margin: 15px 3ch 0 0;
    color: #616161;
    font-size: 13px;
}

#wrap #head ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    margin-top: 30px;
}

#wrap #head ul li {
    margin-left: 25px;
    font-size: 13px;
    color: #6A6A6A;
    padding: 13px 5px;
}

#wrap #head ul li:hover {
    color: #414141;
    text-shadow: #000000 5px;
}

.foooter {
    width: 100%;
    padding: 20px 0px;
}

.foooter .tj {
    font-size: 12px;
    color: #d8d8d8;
    #display: none;
}