
#content {
    height: auto;
    width: 700px;
    display: inline-block;
    color: #6A6A6A;
    font-size: 13px;
}

#content .article_list li {
    margin-top: 30px;
    list-style: none;
    border-bottom: 3pt double #EDEDED;
}

#content .article_list .title {
    font-size: 24px;
}

#content .article_list .title a {
    color: #21759B;
}

#content .article_list .title a:visited {
    color: #21759B;
}

#content .article_list .article_content {
    margin: 20px 0;
    overflow-y: hidden;
    line-height: 2.5ch;
    white-space: pre-line;
}

#content .article_list .article_des {
    margin: 20px 0;
}

#content .article_list .read_all {
    color: #21759B;
}

#content .article_list .read_all a:visited {
    color: #21759B;
}

#nav {
    height: 1000px;
    width: 280px;
    display: inline-block;
    float: right;
    color: #6A6A6A;
}
