body {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    padding: 30px 0 0 0;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    padding: 0 30px;
}

#wrap #head {
    height: auto;
    margin-bottom: 30px;
}

#wrap #head h2 {
    display: inline-block;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #515151;
}

#wrap #head p {
    margin: 15px 3ch 0 0;
    color: #616161;
    font-size: 13px;
}

#wrap #head ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    margin-top: 30px;
}

#wrap #head ul li {
    margin-left: 25px;
    font-size: 13px;
    color: #6A6A6A;
    padding: 13px 5px;
}

#wrap #head ul li:hover {
    color: #414141;
    text-shadow: #000000 5px;
}

#content {
    height: auto;
    width: 700px;
    display: inline-block;
    color: #6A6A6A;
    font-size: 13px;
}

#content .article_list li {
    margin-top: 30px;
    list-style: none;
    border-bottom: 3pt double #EDEDED;
}

#content .article_list .title {
    font-size: 24px;
}

#content .article_list .title a {
    color: #21759B;
}

#content .article_list .title a:visited {
    color: #21759B;
}

#content .article_list .article_content {
    margin: 20px 0;
    overflow-y: hidden;
    line-height: 2.5ch;
    white-space: pre-line;
}

#content .article_list .article_des {
    margin: 20px 0;
}

#content .article_list .read_all {
    color: #21759B;
}

#content .article_list .read_all a:visited {
    color: #21759B;
}

#nav {
    height: 1000px;
    width: 280px;
    display: inline-block;
    float: right;
    color: #6A6A6A;
}
