
#content {
    height: auto;
    width: 700px;
    display: inline-block;
    color: #6A6A6A;
    font-size: 13px;
}

#content .title {
    font-size: 26px;
    color: #444;
    margin-left: 18px;
    font-weight: bold;
}

#content #article_content {
    font-size: 14px;
    line-height: 24px;
    color: #444;
    margin-top: 30px;
    width: 627px;
    border-bottom: double #eee 4px;
}

#content #article_content pre {
    white-space: pre-wrap;
}

#content #article_content #markdown {
    display: none;
}
#content #article_content .content_des {
    padding: 30px 0;
    color: #9d9d9d;
    font-size: 13px;
}

#content .around-article {
    margin-top: 30px;
    padding: 5px;
    width: 627px;
}

#content .around-article .pre {
    float: left;
}

#content .around-article .next {
    float: right;
}

#content #comment .comment-list li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

#content #comment .comment-list p {
    display: inline-block;
}

#content #comment .comment-list .comment_name {
    width: 35%;
}

#content #comment .comment-list .comment_content {
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
#content #comment form {
    width: 100%;
}

#content #comment input {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #dddddd;
}

#content #comment textarea[name=coment_content] {
    height: 120px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #dddddd;
}

#content #comment button {
    margin-top: 20px;
    height: 30px;
    width: 60px;
    border-radius: 4px;
    background-color: #777;
    color: #FFFFFF;
    border: none;
    float: right;
}

#nav {
    height: 1000px;
    width: 280px;
    display: inline-block;
    float: right;
    color: #6A6A6A;
}
